footer {
    width: 100%;
    height: 12vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    position: relative;

    a {
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #github {
            width: 3vw;
            height: 3vw;
        }
    }

    @media screen and (max-width: 1200px) {
        a {
            width: 4vw;
            height: 4vw;

            #github {
                width: 4vw;
                height: 4vw;
            }
        }
    }

    @media screen and (max-width: 600px) {
        a {
            width: 5vw;
            height: 5vw;

            #github {
                width: 5vw;
                height: 5vw;
            }
        }
    }
}
