*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
}

#root, #__next {
    isolation: isolate;
}

body {
    background-color: '#F1FAEE';
    overflow: hidden;
}

.graduations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graduation {
  width: 5px;
  height: 10px;
  background-color: black;
  position: relative;

  .bottom-graduation-text, .top-graduation-text {
    font-family: 'Doppio One', sans-serif;
    position: absolute;
  }

  .bottom-graduation-text {
    top: 10px;
    left: -2px;
  }

  .top-graduation-text {
    bottom: 10px;
    left: -2px;
  }
}
