<nav id="navbar">
    <ul id="navbar-left">
        <li><img src="https://i.gifer.com/XVo6.gif" alt="Kello logo"></li>
    </ul>
    <ul id="navbar-mid">
        <li><a href="/v1">V1</a></li>
        <li style="opacity: .6;">---</li>
        <li><a href="/v2">V2</a></li>
    </ul>
    <ul id="navbar-right">
        <li>
            <a href="https://github.com/Xeway/kello" title="Kello's repository">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="Github logo">
            </a>
        </li>
    </ul>
</nav>
